In [11]:
import pandas as pd

data1 = pd.read_excel('C:\\Users\\94835\\Downloads\\lsrnase0419.xlsx', index_col=1, header=0)
data2 = pd.read_excel('C:\\Users\\94835\\Downloads\\membrane protein_final.xlsx', index_col=0, header=None)

data1_filter = data1.loc[data2.index]
data1_filter.to_csv('C:\\Users\\94835\\Downloads\\result.csv')

In [12]:
data1_filter

,gene_id,YJX-P1-CM1_FPKM,TVR-P1-CM1_FPKM,P1_N_2_FPKM,P4_N_4_FPKM,YJX-P5-CHIR1_FPKM,TVR-P5-CHIR1_FPKM
0,,,,,,,
TSPAN6,ENSG00000000003,27.9751,25.9175,30.38430,27.60460,43.09660,48.39210
SLC7A2,ENSG00000003989,11.3952,27.0045,11.22640,9.22421,8.91264,7.58708
LAMP2,ENSG00000005893,143.4420,150.9670,128.94000,119.32600,116.56200,153.51800
ST3GAL1,ENSG00000008513,12.3984,13.7192,8.74306,31.36060,26.15360,28.64560
PTBP1,ENSG00000011304,64.8575,57.6211,67.20490,70.44180,69.50370,73.85180
...,...,...,...,...,...,...,...
ARPC4,ENSG00000241553,47.9926,46.3450,81.15130,83.24650,52.01700,58.12940
N4BP2L2,ENSG00000244754,39.8743,46.5570,23.33700,24.33430,37.17330,33.93500
TUBB3,ENSG00000258947,43.6731,39.8167,73.59720,146.52000,62.90190,50.70820
GTF2I,ENSG00000263001,44.5076,67.1739,70.33430,55.20200,61.18010,66.94360
RBM8A,ENSG00000265241,58.6093,41.4032,50.14280,56.18470,61.47370,56.63870